.upvote {
  padding: 64px;
  .header {
    padding: 0 16px;
    .thumbnail {
      float: left;
      margin-right: 24px;
    }
    h1, h2, h3 {
      padding: 6px 32px;
    }
  }
  .controls {
    text-align: center;
  }
  .raw {
    padding: 0 64px;
    pre {
      overflow-x: scroll;
    }
  }
  .divider {
    padding-top: 48px;
  }
}
