{
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true,
    },
    "sourceType": "module"
  },
  "rules": {
    "semi" : ["error", "always"]
  }
}
