<!DOCTYPE html>
<html>
  <head>
    <title>Upvote</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i" rel="stylesheet" />
  </head>
  <body>
    <div id="react-root">
    </div>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
